@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-animation {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  display: flex;
}

.fade-out-animation {
  animation-name: fade-out;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  100% {
    display: block;
  }
}
